<div class="container col-xs-2">
    <table class="table table-hover container">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Catogery</th>
                <th>Product Name</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let  user of user">
            <td> {{user.productId}} </td>
            <td> {{user.productCatogery}} </td>
            <td> {{user.productName}} </td>
            </tr>
        </tbody>
    </table>
    <h4>Shop to add more products............!!!!!!</h4>

    <button class="btn btn-primary" (click)="toPrevious()">Back</button>
</div>

