<div class="navbar navbar-dark bg-dark a">
    <button type="button" class="btn  btn-primary navbar-btn" (click)=onView()> 
                  <span class="glyphicon glyphicon-shopping-cart"> ViewCart</span> 
     </button>
</div>
<div class="container">
    <table class="table table-hover container">
        <thead>
            <tr>
                <th scope="col">Product Catogery</th>
                <th scope="col">Product Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let product of product">
            <td> {{product.productName}} </td>
            <td> {{product.productCatogery}} </td>
            <td> 
                <button type="button" class="btn  btn-block btn-primary" (click) = onAdd(product)> 
                  <span class="glyphicon glyphicon-heart"> Add</span> 
                </button>
                <button type="button" class="btn  btn-block btn-primary" (click) = onView()> 
                 <span class="glyphicon glyphicon-shopping-cart"> View</span>
                </button>
            </td>
        </tbody> 
    </table>
</div>